.idea
.vagrant
*.pyc
zmq/backend/cython/*.c
zmq/backend/cffi/*.[co]
zmq/devices/*.c
zmq/utils/*.json
zmq/include/*.h
__pycache__
build
dist
conf
bundled
libzmq-dll
*.egg-info
*.so
*.pyd
*.dll
*.dylib
docs/source/api/generated
docs/gh-pages
setup.cfg
MANIFEST
.tox
examples/security/public_keys
examples/security/private_keys
wheelhouse
.coverage
.cache
.pytest_cache
win-dist
*.pickle
.ipynb_checkpoints
venv
*.code-workspace
.vscode
.mypy_cache
.coverage
htmlcov
coverage.xml
env
.eggs

CMakeFiles
CMakeCache.txt
cmake_install.cmake
_deps
/Makefile
