Brian E. Granger <ellisonbg@gmail.com> Brian Granger <ellisonbg@gmail.com>
Chris Laws <clawsicus@gmail.com> Chris Laws <claws@localhost>
Daniel Lundin <dln@eintr.org> Daniel Lundin <dln@spotify.com>
Min Ragan-Kelley <benjaminrk@gmail.com> Min RK <benjaminrk@gmail.com>
Min Ragan-Kelley <benjaminrk@gmail.com> MinRK <benjaminrk@gmail.com>
Michel Pelletier <pelletier.michel@gmail.com> Michel Pelletier <pelletier.michel@yahoo.com>
Nicholas Piël <nicholas@nichol.as> nicholas <nicholas@bastet.ss.sitesupport.com>
Felipe Cruz <felipecruz@loogica.net> felipecruz <felipecruz@loogica.net>
Felipe Cruz <felipecruz@loogica.net> Felipe cruz <felipecruz@loogica.net>
Yannick Hold <yannickhold@gmail.com> Yannick Hold <x_godsoul@hotmail.com>
