# only need to track non-version-controlled files to add
include bundled/zeromq/COPYING*
graft bundled/zeromq/include
graft bundled/zeromq/src
graft bundled/zeromq/external/wepoll
exclude bundled/zeromq/src/Makefile*
exclude bundled/zeromq/src/platform.hpp
